.adjustments-container {
  /* outline: 1px solid blue; */
  height: 20px;
  display: flex;
  margin-bottom: 6px;
}

.adjustments-alignment {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.adjustments-alignment p {
  font-size: 0.6rem;
  color: rgba(55, 53, 47, 0.65);
}
